{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block scripts %}
  <script src="{% static 'sales/home.js' %}" defer></script>
{% endblock scripts %}


{% block title %}
Home
{% endblock title %}


{% block content %}

<div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add report</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body">
        <div id="alert-box"></div>
        <form id="report-form" autocomplete="off">
          {% csrf_token %}
          {{report_form|crispy}}
          <button type="submit" class="btn btn-info mt-2">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% if no_data %}
<div class="alert alert-info" role="alert">
  {{no_data}}
</div>
{% endif %}

<form action="" method="POST">
  {% csrf_token %}
  {{search_form|crispy}}
  <button type="submit" class="btn btn-primary mt-3">
    Search
  </button>
</form>
  <hr>
  
  {% if sales_df %}
  sales_df
  {{sales_df|safe}}
  <br>
  <hr>
  positions_df
  {{positions_df|safe}}
  <br>
  positions_df_grouped
  {{positions_df_grouped|safe}}
  <hr>
  merged_df
  {{merged_df|safe}}
  <br>
  sales grouped by mean price
  {{df|safe}}
  <br>
  <hr>
  <img src="data:image/png;base64, {{chart|safe}}" alt="no image" id="img">
  {% endif %}
  <br>
  <button class="btn btn-primary not-visible" id="report-btn" data-bs-toggle="modal" data-bs-target="#reportModal">Add Report</button>
  

{% endblock content %}